<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">
      About
      <small></small>
    </h3>
  </div>
</div>
<hr />
<div class="row-fluid">
  <div class="span12">
    <div class="span4">
      <ul class="ver-inline-menu tabbable margin-bottom-10">
        <li class="active">
          <a data-toggle="tab" href="#tab_1">
          <i class="icon-home"></i> 
          Dashboard
          </a> 
          <span class="after"></span>                                    
        </li>
        <li class=""><a data-toggle="tab" href="#tab_2"><i class="icon-eye-open"></i> Tax Watch</a></li>
        <li class=""><a data-toggle="tab" href="#tab_3"><i class="icon-money"></i> Budget Watch</a></li>
        <li><a data-toggle="tab" href="#tab_4"><i class="icon-magic"></i> DIY National Budget</a></li>
      </ul>
    </div>
    <div class="span8">
      <div class="tab-content">
        <div id="tab_1" class="tab-pane active">
          <p>Provides a glance of the proposed budget by sector for the incoming year.</p>
        </div>
        <div id="tab_2" class="tab-pane">
          <div style="height: auto;" id="accordion1" class="accordion collapse in">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a href="#collapse_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                Tax Calculator
                </a>
              </div>
              <div class="accordion-body collapse in" id="collapse_1">
                <div class="accordion-inner">
                  <p>Is a utility that computes the Total Salary of an employee based on the employee's income for the year.</p>
                  <b>Brief description of each input box:</b>
                  <br>
                  <ol>
                    <li>Current Monthly Salary - Is the employee's latest salary per month.</li>
                    <li>
                      <p>Pay Frequency - Is the frequency in which the employee receives his/her salary.</p>
                      <ul>
                        <li><b>Monthly Paid</b> employees have a total of 12 payout per year.</li>
                        <li><b>Semi - Monthly Paid</b> employees have a total of 12 payout per year.</li>
                      </ul>
                    </li>
                    <li>
                      <p>Tax Status - Is the employee's current tax status:</p>
                      <ul>
                        <li>Single or Married </li>
                        <li>Single with 1 dependent / Married with 1 dependent</li>
                        <li>Single with 2 dependent / Married with 2 dependent</li>
                        <li>Single with 3 dependent / Married with 3 dependent</li>
                        <li>Single with 4 dependent / Married with 4 dependent</li>
                      </ul>
                    </li>
                    <li>
                      <p>Remaining Payout - Is the number of remaining payout for the year.</p>
                      <p>Monthly Paid employees have a total of 12 payout per year.</p>
                      <p>Semi - Monthly Paid employees have a total of 12 payout per year.</p>
                      <p>i.e. Monthly Paid employee with current payout on March. Remaining payout would be 9.</p>
                    </li>
                    <li>
                      <p>Year to Date Income - Is the employee's total accumulated basic pay for the year </p>
                      <p>i.e. Salary per payout, undertime, absences...</p>
                    </li>
                    <li>Year to Date Bonus Income - Is the employee's total accumulated additional income and bonus income for the year i.e. Overtime Pay, Night Shift Differential Pay, 13month Pay, meal allowance, transpo allowance...</li>
                    <li>Year to Date Tax Deductible - Is the employee's total tax excluded income for the year i.e. SSS, HDMF, PHIC.</li>
                    <li>Year to Date Witholding Tax - Is the employee's total paid witholding tax for the year. </li>
                    <li>Current Income - Is the employee's income for the current payout	i.e. Salary per payout, undertime, absences.</li>
                    <li>Current Additional Income	- Is the employee's total accumulated additional income for the current payout i.e. Overtime Pay, Night Shift Differential Pay.</li>
                    <li>Current Bonus - Is the employee's total accumulated bonus income for the current payout i.e. 13month Pay, meal allowance, transpo allowance.</li>
                    <li>Current Tax Deductible - Is the employee's total tax excluded income for the current payout	i.e. SSS, HDMF, PHIC.</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab_3" class="tab-pane">
          <div style="height: auto;" id="accordion1-1" class="accordion collapse in">
            <p>Is a utility that shows a customized list of releases based on the selected sector.</p>
          </div>
        </div>
        <div id="tab_4" class="tab-pane">
          <div style="height: auto;" id="accordion1" class="accordion collapse in">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a href="#collapse_3" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                Propose your own budget
                </a>
              </div>
              <div class="accordion-body collapse in" id="collapse_3">
                <div class="accordion-inner">
                  <p>Is a utility that empowers the citizen to create his/her own proposed budget plan for the incoming year.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>