<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">
      Budget Allocation
      <small>current sectoral budget allocation</small>
    </h3>
  </div>
</div>
<hr />
<div class="row-fluid">
<div class="span12">
  <div ng-controller="BudgetAllocationCtrl">    
    <div id="SectorAllocationchart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="SpecificSectorAllocationchart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
</div>